body {
  margin: 0;
  background-color: whitesmoke;
}

.container {
  display: inline-block;
  margin: 2%;
  padding: 2%;
  align-items: center;
  justify-content: center;
  margin-left: 23%;
  margin-top: 9%;
  padding: 30px;
}

table,
th,
td {
  border: 1px solid gray;
  /* border-collapse: collapse; */
}


.internal{
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2%;
  padding: 1%;
}